<ion-view>
	<ion-content>
		<flow stage="3" name="完善还款银行卡信息"></flow>

		<div class="item">
			实名信息
			<span class="item-note">{{user.realname}} {{user.idNo | idEncryptor}}</span>
		</div>

		<div class="item margin-top" ng-class="{'item-icon-right': !bank.name}">
			银行卡信息
			<span class="item-note" ng-click="showAddCardPopup()">{{bank.name}} <span ng-show="card.cardNo">尾号</span>{{card.cardNo | tailNo}}</span>
			<plus-icon ng-hide="bank.name" ng-click="showAddCardPopup()"></plus-icon>
		</div>

		<div class="padding positive content-algin-item">为确保资金安全，必须是本人实名的储蓄卡哦~</div>

		<div class="item" ng-class="{'item-icon-right': !card.vcode}">
			手机验证
			<span class="item-note" ng-click="showPhoneAuthPopup()" ng-show="card.vcode">
				{{card.phone}}
			</span>
			<plus-icon ng-hide="card.vcode" ng-click="showPhoneAuthPopup()"></plus-icon>

		</div>

		<div class="padding gray content-algin-item">*为验证银行卡是否有效，会自动向名校贷账户充值1元。</div>

		<!-- <div class="padding"></div> -->
		<section bottom>
			<div class="dbl-padding-horizontal padding-vertical">
				<button type="button" class="button button-block button-positive bold" ng-disabled="!user.idNo || 
				!card.vcode || !card.phone" ng-click="submit()">绑定</button>
			</div>
			
			<div class="gray fs-xs text-center">
				点击绑定即代表您已同意<span class="positive">《快钱支付协议》</span>
			</div>
			<slogan></slogan>
		</section>
		
	</ion-content>
</ion-view>