<form name="passwordForm" ng-submit="submitPayPassword()">
	<!-- <div class="item item-input">
		<input type="password" ng-model="user.payPassword" placeholder="请输入6位数字支付密码" ng-pattern="/^[0-9]{6}$/" required>
	</div> -->

	<digital-password ng-model="user.payPassword"></digital-password>

	<div class="padding-vertical text-right">
		<a class="positive" ng-click="forgotPayPassword()">忘记支付密码？</a>
	</div>

	<div class="padding-top">
		<button class="button button-block button-positive no-margin" ng-disabled="passwordForm.$invalid || user.payPassword.length!==6">确定</button>
	</div>
</form>
