<form name="friendForm" ng-submit="submitFriend()">
	<ion-item class="item-input margin-top">
		<span class="input-label">好友</span>
		<input type="text" placeholder="请输入好友姓名" ng-model="friend.name" required>
	</ion-item>

	<ion-item class="item-input margin-top">
		<span class="input-label">手机号码</span>
		<input type="text" placeholder="请输入好友手机号码" ng-model="friend.phone" ng-pattern="/^[0-9]{11}$/" maxlength="11" required>
	</ion-item>

	<div class="dbl-margin-top">
		<button class="button button-block button-positive no-margin" ng-disabled="friendForm.$invalid">确定</button>
	</div>
</form>