<ion-view>
	<ion-content>
		<flow stage="1" name="学生身份信息认证"></flow>

		<ion-item ng-class="{'item-icon-right': !showPhoneInfo}">
			手机信息
			<span class="item-note" ng-show="showPhoneInfo">{{user.phone}}</span>
			<plus-icon ng-click="showPhonePopup()" ng-hide="showPhoneInfo"></plus-icon>
		</ion-item>

		<ion-item class="margin-top" ng-class="{'item-icon-right': !showKycInfo}">
			实名信息
			<span class="item-note positive" ng-show="showKycInfo" ng-click="showKycPopup()">
				{{user.realname}} {{user.idNo | idEncryptor}}
			</span>
			<plus-icon ng-click="showKycPopup()" ng-hide="showKycInfo"></plus-icon>
		</ion-item>

		<ion-item class="margin-top" ng-class="{'item-icon-right': !showSchoolInfo}">
			学籍信息
			<span class="item-note positive" ng-show="showSchoolInfo" ng-click="showSchoolPopup()">
				{{user.school}} {{user.major}} {{user.degree}}
			</span>
			<plus-icon ng-click="showSchoolPopup()" ng-hide="showSchoolInfo"></plus-icon>
		</ion-item>

		<section bottom>
			<div class="dbl-padding">
				<button class="button button-block button-positive" ng-disabled="!showPhoneInfo || !showKycInfo || !showSchoolInfo" ng-click="submitStudentInfo()">下一步</button>
			</div>

			<slogan></slogan>
		</section>

	</ion-content>
</ion-view>