<ion-view>
	<ion-content>
		<flow stage="4" name="上传资料"></flow>

		<section class="dbl-margin-horizontal dbl-margin-bottom dbl-padding text-center upload-desc file">
			<div class="dbl-margin">
				<img src="assets/images/camera.png" width="50px" alt="">
			</div>
			<div class="fs-lg">拍照上传身份证正面照</div>
			<div class="margin-vertical">
				<ol class="decimal text-left inline-block">
					<li>请垂直拍摄你的<span class="positive">身份证正面照</span></li>
					<li>保持身份证文字清晰</li>
					<li>请保持照片环境光线明亮、均匀</li>
				</ol>
			</div>
			<div class="preview" ng-class="{uploaded: file.front.preview}">
				<img ng-show="file.front.preview" ng-src="{{file.front.preview}}" height="100%" alt="">
			</div>

			<input type="file" accept="image/*" ng-model="file.front" base-sixty-four-input>
		</section>

		<section bottom>
			<div class="dbl-padding">
				<button class="button button-block button-positive no-margin" ng-disabled="!file.front.uploaded" ng-click="submit()">下一步</button>
			</div>

			<slogan></slogan>
		</section>

	</ion-content>
</ion-view>